.tokenLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  input[type="text"], input[type="password"], input[type="email"] {
    height: 20px;
  }

  .inputContainer {
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 18px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;

    .title {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 10px;

      div:nth-child(1) {
        align-self: center;
      }
    }

    .labelWithField {
      display: flex;
      gap: 8px;
      flex-direction: column;

      .labelText {
        font-size: 12px;
      }
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 3px 10px;
      background: #F3F3F5;
      border-radius: 4px;
      border: 1px solid #fff;
      font-size: 14px;
      box-sizing: border-box;
      resize: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(134, 134, 134, 0.3);
      }
      &:disabled {
        background: #e7e7e7;
      }
    }

    .submitButton {
      background: black;
      color: white;
      font-size: 12px;
    }
  }
}

.reportContainer {
  margin-top: 20px;
  .reportContentsLayout {
    display: flex;
    justify-content: center;
    padding: 20px;

    table {
      width: 1200px;
      border-collapse: collapse;
      border-color: gray;
      font-size: 0.9em;

      .issueKey {
        min-width: 90px;
      }
      .issueTitle {
        max-width: 600px;
      }
      .clickable {
        cursor: pointer;
      }
      .causeOfDetect {
        max-width: 150px;
      }
    }
  }
}



.footer {
  .refresh {
    position: fixed;
    bottom: 90px;
    right: 50px;
  }

  .home {
    position: fixed;
    bottom: 35px;
    right: 50px;
  }
}