.layoutContainer {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

.sideBar {
  width: 200px;
  padding: 20px;

  .logo{
    display: flex;
    justify-content: center;
  }
}

/* 우측 컨텐츠 영역 스타일 */
.mainContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  max-width: 2560px;
  width: 100%;
}
