.tokenLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .inputContainer {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 10px;
  }
}