

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #a1a1a1;
  padding:  4px 8px;
  font-size: 12px;

  .icon {
    display: flex;
    align-items: center;
  }
}